@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&family=Noto+Serif+JP:wght@200;300;400;500;600;700&family=Pacifico&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body {
  font-family: 'Noto Serif JP', serif;
  line-height: 1.6;
  background: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}
.serif-font {
  font-family: 'Noto Serif JP', serif;
}
.sans-serif-font {
  font-family: 'Noto Sans', sans-serif;
}
.font-small {
  font-size: 0.8rem;
}
.font-large {
  font-size: 3rem;
}
.bold {
  font-weight: 600;
}
.secondary-color {
  color: #cecece

}
.title {
  text-align: center;
  padding-bottom: 5rem;
  font-size: 2rem;
  font-weight: 500;
}